@import "tailwindcss";

@theme {
    --color-primary-500: #3b82f6;
    --color-secondary-500: #9333ea;
}

:root {
    --font: "Momo Trust Sans", sans-serif;
    --bg: #242424;
    --btn: #313647;
    --color: rgba(255, 255, 255, 0.87);

    font-family: var(--font);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-secondary: #222;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #fff;
    }
}

@layer components {
    .button {
        @apply bg-[var(--btn)/100] cursor-pointer transition;
    }
    .input {
        @apply border border-gray-500 p-2 rounded-lg outline-none transition focus:ring-2 focus:ring-blue-500 focus:border-transparent;
    }
    .btn {
        @apply border border-gray-400/30 rounded-lg p-2 hover:bg-[#333] hover:border-gray-400/50 transition cursor-pointer active:translate-y-1 duration-100;
    }
    .filled-btn {
        @apply bg-blue-700 border border-gray-400/30 rounded-lg p-2 hover:bg-blue-600 hover:border-gray-400/50 transition cursor-pointer active:translate-y-1;
    }
    .filled-gray-btn {
        @apply bg-[#333] border border-gray-400/30 rounded-lg p-2 hover:bg-[#444] hover:border-gray-400/50 transition cursor-pointer active:translate-y-1;
    }
}
